body {
    /* background-image: linear-gradient(to bottom, rgb(95, 242, 95), rgb(255, 255, 255)); */
    background-image: linear-gradient(to bottom, rgb(145, 235, 145), rgb(145, 235, 145));
}

.navbar {
    background: linear-gradient(125deg, rgb(42, 148, 75), rgb(27, 94, 48));
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.search-box {
    width: 600px;
    background: #fff;
    border-radius: 5px;
    margin-left: 300px;
    margin-right: 50px;
}

/* .row{
    display: flex;
    align-items: center;
    padding: 10px 20px;
} */

.inputbox {
    flex: 1;
    height: 50px;
    width: 65%;
    background: transparent;
    margin-right: 100px;
    padding-left: 10px;
    border: 0;
    outline: 0;
    font-size: 18px;
    color: #333;
}

input {
    border-radius: 20px;
    margin-right: 10px;
    border: none;
}

.magni-btn {
    background: transparent;
    border: 0;
    outline: 0;
}

.magni-btn.fa solid {
    width: 25px;
    color: #555;
    font-size: 22px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
    position: absolute;
    z-index: 1;
    background: #fff;
    max-height: 200px;
    overflow-y: scroll;
    width: 470px;
    border-radius: 5px;
}

.result-box ul li {
    list-style: none;
    border-radius: 15px;
    padding: 15px 10px;
    cursor: pointer;
}

.result-box ul li:hover {
    background: #e9f3ff;
}

/* .result-box{
    max-height: 200px;
    overflow-y: scroll;
} */

/* .magni-btn{
    border-radius: 20px;
    transition: transform 0.5s ease-in-out;
    border: none;
}

.magni-btn:hover {
    transform: rotate(360deg);
} */

.accountcart {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.liaccount {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.licart {
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #e9f3ff;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
    width: 80px;
}

/* .cart{
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 80px;
} */
.fa-solid {
    color: rgb(0, 0, 0);
}

.licart p {
    height: 22px;
    width: 22px;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: rgb(0, 0, 0);
    color: white;
}

/* .cartcount {
    position: absolute;
    top: 12px;
    right: 50px;
    width: 20px;
    height: 20px;
    background-color: rgb(167, 55, 27);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
} */

img {
    align-self: center;
}

.carousel {
    margin-top: 0;
    margin-left: 25px;
    margin-right: 25px;
}

.textpromotion {
    text-align: center;
    background-color: black;
    color: aliceblue;
    margin-bottom: 0;
}

.imgpromotion {
    display: flex;
    justify-content: center;
}

.text_turtle_for_you {
    text-align: center;
    background-color: black;
    color: aliceblue;
}

.example_turtle {
    /* display: flex; */
    display:grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: space-around;
    padding-bottom: 10px;
    padding-top: 5px;
}

@media (max-width: 900px) {
    .example_turtle {
        display:grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 768px) {
    .example_turtle {
        display:grid;
        grid-template-columns: auto auto;
        justify-content: center;
        row-gap: 2.5rem;
    }
}

.textseeallturtle {
    display: table;
    background-color: rgb(22, 104, 18);
}

:hover.textseeallturtle {
    background-color: rgb(8, 240, 39);
}

.innerbox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    cursor: pointer;
}

.button_see_more {
    padding: 5px;
    border-radius: 8px;
    background-color: #5c8497;
}

.button_see_more:hover {
    cursor: pointer;
    background-color: #000;
    color: #fff;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: rgb(42, 148, 75);
    color: #000;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* margin-bottom: 30px; */
    margin-top: 30px;
}

/* .container-item{
    flex-direction: column;
    text-align: center;
    border-color: black;
    border-style: ridge;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
} */

/* .container-sale{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
}

.container-sale-item{
    display: flex;
    flex-direction: row;
    align-self: center;
}

.big-sale{
    background-color: rgb(166, 172, 177);
    padding: 10px;
    border-color: black;
    border-style: ridge;
    border-top-left-radius: 25px;
}

.discount{
    background-color: rgb(222, 246, 2);
    padding: 10px;
    border-color: black;
    border-style: ridge;
    border-top-right-radius: 25px ;
} */

/* h3 {
    background-color: aquamarine;
} */

/* .btn-detail{
    transition: transform 0.75s width 2s;
    margin-bottom: 20px;
}

.btn-detail:hover{
    transform: rotate(45deg);
    width: 50px;
    background-color: rgb(25, 74, 50);
    color: rgb(0, 0, 0);
} */

body {
    background-color: #eee;
    font-family: "Kanit";
}

/* .container {
    width: 900px
} */

.card {
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* transition: 0.2s; */
}

.cardallproduct {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .card:hover{
    transform: scale(1.03);
} */


.image-container {
    position: relative;
}

.thumbnail-image {
    border-radius: 10px
}

.discount {
    background-color: red;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 10px;
    border-radius: 6px;
    color: #fff
}

.wishlist {
    height: 25px;
    width: 25px;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

ion-icon {
    color: rgb(255, 0, 0);
}

.first {
    position: absolute;
    width: 100%;
    padding: 9px
}

.turtle-name {
    font-size: 13px;
    font-weight: bold;
    width: 75%
}

.new-price {
    font-size: 13px;
    font-weight: bold;
    color: red
}

.old-price {
    font-size: 8px;
    font-weight: bold;
    color: grey
}

.btn {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    padding: 3px
}

.item-size {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center
}

.male_btn:hover {
    border: 2px solid rgb(0, 0, 0);
}

.male_btn:focus {
    background-color: #000;
}

.female_btn {
    margin-right: 5px;
}

.female_btn:hover {
    border: 2px solid rgb(0, 0, 0);
}

.female_btn:focus {
    background-color: #000;
}

.btn_detail {
    color: #095a98;
    border: none;
    background-color: #ffffff;
}

.btn-detail:hover {
    cursor: pointer;
}

.creme {
    background-color: #fff;
    border: 2px solid grey
}

.creme:hover {
    border: 3px solid grey
}

.creme:focus {
    background-color: grey
}

.red {
    background-color: #fff;
    border: 2px solid red
}

.red:hover {
    border: 3px solid red
}

.red:focus {
    background-color: red
}

.blue {
    background-color: #fff;
    border: 2px solid #40C4FF
}

.blue:hover {
    border: 3px solid #40C4FF
}

.blue:focus {
    background-color: #40C4FF
}

.darkblue {
    background-color: #fff;
    border: 2px solid #01579B
}

.darkblue:hover {
    border: 3px solid #01579B
}

.darkblue:focus {
    background-color: #01579B
}

.yellow {
    background-color: #fff;
    border: 2px solid #FFCA28
}

.yellow:hover {
    border-radius: 3px solid #FFCA28
}

.yellow:focus {
    background-color: #FFCA28
}

.rating-star {
    font-size: 10px !important
}

.rating-number {
    font-size: 10px;
    color: grey
}

.buy {
    font-size: 12px;
    color: purple;
    font-weight: 500
}

.voutchers {
    background-color: rgb(212, 200, 26);
    border: none;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden
}

.voutcher-divider {
    display: flex
}

.voutcher-left {
    width: 60%
}

.voutcher-name {
    color: grey;
    font-size: 9px;
    font-weight: 500
}

.voutcher-code {
    color: red;
    font-size: 11px;
    font-weight: bold
}

.voutcher-right {
    width: 40%;
    background-color: rgb(0, 128, 68);
    color: #fff
}

.discount-percent {
    font-size: 12px;
    font-weight: bold;
    position: relative;
    top: 5px
}

.off {
    font-size: 14px;
    position: relative;
    bottom: 5px
}

.allproductpage {
    /* display: flex; */
    /* flex-direction: row; */
    display:grid;
    grid-template-columns: auto auto;
}

.list_all_turtle {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto;
    justify-content: space-around;
    row-gap: 25px;
    column-gap: 40px;
    margin-top: 30px;
    padding-left: 20px;
}

.Cart-container{
    display: grid;
    justify-content: center;
}

.Cart {
    display: grid;
    width: 400px;
    height: max-content;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-image: linear-gradient(to top, rgb(185, 219, 33), rgb(255, 255, 255));
    /* margin-left: 20px; */
    padding: 15px;
    text-align: center;
}

@media (max-width: 992px) {
    .allproductpage {
        display:grid;
        grid-template-columns: auto;
    }
    .list_all_turtle {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
    };
}

@media (max-width: 790px) {
    .allproductpage {
        display:grid;
        grid-template-columns: auto;
    }
    .list_all_turtle {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
}

@media (max-width: 560px) {
    .allproductpage {
        display:grid;
        grid-template-columns: auto;
    }
    .list_all_turtle {
        display: grid;
        justify-content: center;
        grid-template-columns: auto auto;
    }
}

.container_cartpage {
    display: flex;
    flex-direction: row;
    /* background-color: #5c8497; */
    margin-bottom: 20px;
}

.Bill {
    width: 70%;
    padding-left: 15px;
    margin-right: 10px;
    padding-bottom: 15px;
    /* background-color: rgb(231, 165, 121); */
}

.Billing_Address {
    text-align: center;
}

.Cartoncartpage-container{
    display: grid;
}

.Cartoncartpage{
    display: grid;
    width: 400px;
    height: max-content;
    margin-bottom: 30px;
    margin-top: 60px;
    margin-right: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background-image: linear-gradient(to top, rgb(185, 219, 33), rgb(255, 255, 255));
    /* margin-left: 20px; */
    padding: 15px;
    text-align: center;
}

.submit-btn-area{
    display: grid;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.submit-btn{
    border: none;
    border-radius: 5px;
    background-color: #0f550f;
    color: #ffffff;
    font-size: 25px;
}

.submit-btn:hover{
    background-color:#000000;
    color:#ffffff
}

@media (max-width: 992px) {
    .container_cartpage {
        display: grid;
        grid-template-rows: auto auto;
    }
    .Bill {
        width: 100%;
        justify-content: center;
    }
    .Cartoncartpage-container{
        justify-content: center;
    }
    .Cartoncartpage{
        margin-top: 30px;
    }
}

/* #root{
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    background-color: #000;
} */

.head {
    background-color: rgb(0, 0, 0);
    border-radius: 3px;
    height: 40px;
    padding: 5px;
    margin-bottom: 20px;
    color: white;
    /* display: flex; */
    align-items: center;
    text-align: center;
}

.foot {
    display: flex;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.bg-homepage {
    background-image: linear-gradient(to bottom, rgb(95, 242, 95), rgb(255, 255, 255));
}

/* .bg-allproduct{
    background-image: linear-gradient(to bottom, rgb(95, 242, 95), rgb(255, 255, 255));  
} */

.bg-cartpage {
    background-image: linear-gradient(to bottom, rgb(95, 242, 95), rgb(255, 255, 255));
}

.btn-cartinmodal {
    width: 50px;
    align-items: center;
    border-radius: 5px;
    border: solid 0.5px;
}

.btn-cartinmodal:hover {
    cursor: pointer;
    background-color: #555;
}

@media (max-width: 992px) {
    .search-box {
        display: none;
    }
}

.cardallproduct {
    margin-bottom: 15px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 10px;
}

.row-img {
    background-color: rgb(73, 69, 59);
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: #333;
}

.textincart {
    padding-top: 18px;
    margin-left: 10px;
}

.priceincart {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: auto;
}

.Payment-btn {
    border-radius: 5px;
    border: 2px solid #000000;
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.3s;
}

.Payment-btn:hover {
    background-color: #000;
    color: #ffffff;
}

.containerselectturtle {
    padding-left: 300px;
}

/* .overlay1 {
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    pointer-events: none;
    opacity: 0;
}

.modal1 {
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    max-width: 540px;
    padding-bottom: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    pointer-events: none;
    opacity: 0;
} */

/* .modal1:target {
    visibility: visible;
    opacity: 1;
  } */

/* .btn_openmodal{
    color: #095a98;
    border: none;
    background-color: #ffffff;
}

input[type="checkbox"]:checked~.modal1 {
    pointer-events: auto;
    opacity: 1;
}

input[type="checkbox"]:checked~.overlay1 {
    pointer-events: auto;
    opacity: 0.75;
} */

